html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  font-size: '14px';
  font-family: 'DM Sans';
}


h3 {
  font-size: '14px';
  font-family: 'Outfit';
}

p {
  font-family: 'DM Sans';
  font-size: '14px';
}
  

h1, h2, h3 {
  font-family: 'Outfit';
  font-size: '14px';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  height: auto;
  font-family: 'DM Sans';
  background-color: '#000';
}

.ant-radio-button-wrapper {
  height: 40px !important;
  padding: 5px 15px !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 8px !important;
  width: 133px !important;
  text-align: center !important;
  background: #f4f4f4 0% 0% no-repeat padding-box !important;
}

.ant-radio-button-wrapper-checked {
  background: #334bd0 0% 0% no-repeat padding-box !important;
  color: white !important;
}

.ant-switch-checked {
  background: #334bd0 0% 0% no-repeat padding-box !important;
}

.ant-menu-item-selected {
  color: #1f3180 !important;
}

.ant-menu-item-selected :after {
  border-bottom: 2px solid #1f3180 !important;
}

.css-xetjfm-MuiDivider-root {
  border-color: black !important;
}

.ant-divider {
  border-top: 2px solid rgba(0, 0, 0, 0.06) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #FAFBFF;
  }
}



.multicolor-bar {
	margin: 20px 20%;
}

.multicolor-bar .values .value {
	float: left;
	text-align: center;
}

.multicolor-bar .scale .graduation {
	float: left;
	text-align: center;
}

.multicolor-bar .bars .bar {
	float: left;
	height: 10px;
}

.multicolor-bar .bars div.bar:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.multicolor-bar .bars div.bar:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.multicolor-bar .legends {
	text-align: center;
}


.multicolor-bar .legends .legend {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.multicolor-bar .legends .legend .dot {
	font-size: 25px;
	vertical-align: middle;
}

.multicolor-bar .legends .legend .label {
	margin-left: 2px;
	vertical-align: middle;
}

/*Buttons*/


.buttonfilled {
  background: '#F78500';
  border-radius: "8px";
  width: '90%';
  background: '#F78500';
  color: '#fff';
  font-size: '14px';
  font-family: 'Outfit';
  text-transform: 'none';
  border-radius: "8px";
  padding: '11px 20px 11px 20px';
}

.buttonfilled :hover {
      outline: '2px solid #000003';
      color: '#000';
}

.buttonoutlined {
  border: '2px solid #000003';
  font-size: '14px';
  font-family: 'Outfit';
  padding: '8px 19px 8px 19px';
  text-transform: 'none';
  border-radius: "8px";
  color: '#000';
}