@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.container {
  padding: 81px 72px 48px 72px;
  background-color: #d9d9d9;
  height: 100%;
}

.breadCrumbs {
  color: #505050;
  opacity: 1;
  font-family: Outfit;
  height: max-content;
}

.productHeader {
  display: flex;
  margin-top: 32px;
}

.productImageCard {
  width: 120px;
  height: 120px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 8px;
}

.productImage {
  width: 90px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.productDescription {
  font-family: Outfit;
  padding-left: 40px;
}

.productDescTitle {
  font-size: 28px;
  color: #000000;
  margin-bottom: 0px;
  margin-left: -2px;
}

.productLink {
  color: #1f3180;
  margin-top: 8px;
}

.imageDiv {
  border: 1px solid #d9d9d9;
}

.imageProduct {
  width: 349px;
  height: 214px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.propAlt {
  margin-top: 12px;
}

.propTextConst {
  color: #313131;
  font-weight: 200;
}

.propAltsDyn {
  margin-left: 8px;
  color: #000000;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #1f3180 !important;
}

.cardMain {
  margin-top: 33px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  height: 1607px;
}

.descTag {
  color: #313131;
  font-size: 18px;
  font: normal normal medium 18px/24px Outfit;
}

.divider {
  margin-top: 10px;
}

.descriptionTitle {
  width: max-content;
}

.descLabel {
  color: #313131;
  margin-top: 12px;
  font-size: 16px;
  opacity: 0.8;
  font: normal normal normal 16px/22px Outfit;
  letter-spacing: 0px;
}

.infoContainer {
  margin-bottom: 32px;
}

.radioBts {
  margin-left: 20px;
}
